.lead__title{
    margin:56px auto 32px;
    padding:0;
    max-width:720px;
    
    font-family:'Inter','Arial',sans-serif;
    font-style:normal;
    font-weight: 900;
    font-size: 96px;
    line-height:100px;
    text-align:center;
    color: #FFF;
}

@media screen and (max-width:1024px){
    .lead__title{
        margin-top:48px;
        
    }
}

@media screen and (max-width:1023px){
    .lead__title{
       
        
        font-size:85px;
        line-height:89px;
    }
}
@media screen and (max-width:768px){
    .lead__title{
       
        font-size:96px;
        line-height:100px;
    }
}
@media screen and (max-width:767px){
    .lead__title{
       
        margin-bottom:16px;
        font-size:65px;
        line-height:69px;
    }
}
@media screen and (max-width:610px){
    .lead__title{
       
        margin-bottom:16px;
        font-size:45px;
        line-height:49px;
    }
}
@media screen and (max-width:480px){
    .lead__title{
       
        margin-bottom:16px;
        font-size:40px;
        line-height:44px;
    }
}
@media screen and (max-width:320px){
    .lead__title{
        max-width: 288px;
        margin-bottom:16px;
        font-size:39px;
        line-height:43px;
    }
}